* {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    /* outline: 2px solid blue; */
}

h1 {
    text-align: center;
    font-size: 44px;
    color: gray;
}

em#speech {
    font-size: 21.5px;
    font-family: cursive;
}

.mid {
    background-color: lightgray;
}

img {
    margin: 8px;
}

.cimg {
    display: block;
    margin: 0 auto;
}